<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<nav class="navbar navbar-default" style="background-color : #5DA4BE; height:80px;">
    <div class="container-fluid" >
        <div class="navbar-header" style="margin-top:15px;" >
            <div style="font-size:40px; text-align:center; color:#FFFF">TodoList</div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-top:15px;">

        </div><!— /.navbar-collapse —>
    </div><!— /.container-fluid —>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="todolist">
                <h1>Todos</h1>
                <button class="btn btn-success">Add Todo</button>
                <hr>
                <ul id="todoList" class="list-unstyled">

                </ul>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

<div class ="panel panel-default" style="border:0px;">
    <div class="panel-footer" style="background-color : #5DA4BE; color:#FFFF; text-align:center; position:fixed;
    bottom:0; width:100%;">Made by SongMinSeok</div>
</div>
<script src="/js/main.js"></script>
</body>
</html>